* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: lightgreen;
}

.sidebar {
    width: 200px;
    background: black;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ui li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: yellow;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background: #34343454;
    color: #fff;
}

card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    min-width: 200px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0. 1);
    padding: 20px;
    text-align: center;
}

.card h3 {
    color: #555;
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    color: yellowgreen;
}

table-section {
    background: #fff;
    border-radius: 12px;
    padding: 26px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0. 1);
    text-align: top;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.thread {
    background: #1e1e2f;
    color: #fff;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid ddd;
    text-align: left;
}

tr:hover {
    background-color: f1f1f1f1;
}

@media(max-width: 768px) {
    .sidebar {
        display: none;
    }

    card-container {
        flex-direction: column;
    }

}