body {
    background: url('login.jpg');
    background-size: cover;
}


.loginHeader {
    text-align: center;

}

.loginHeader {
    margin-bottom: 60px;
    text-align: center;
}

h1 {
    font-size: 90px;
    color: yellow;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: yellow;
    font-size: 50px;
    padding: 0px;
    text-transform: uppercase;
    margin: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3:after {
    content: '';
    display: block;
    height: 5px;
    background: navy;
    width: 60%;
    margin: auto;
}

.LoginBody form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0, 5);
    padding: 30px;
    border-radius: 2px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    width: 350px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 200px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.LoginBody input[type="text"] {
    width: 70%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid navy;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.LoginBody input[type="password"] {
    width: 70%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid navy;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.LoginInputContainer label {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.LoginInputContainer input {
    height: 40px;
    width: 300%;
    border: 2px solid red;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

.LoginButtonContainer {
    margin: 20px;
    text-align: center;
    width: 100%;
}

.LoginButtonContainer button {
    font-size: 20px;
    padding: 20px;
    border: none;
    color: blue;
}