.banner {
    background-image: url('images/homepage.jpg');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px
}

.homepageContainer {
    width: 100%;
    max-width: 900px;
    height: 70vh;
    margin: auto;
}

.bannerTagline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: gold;
    margin: 5px;

}

.bannerHeader h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: gold;
    margin-bottom: 0px;
    line-height: 100%;
}

.bannerHeader h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: gold;
    text-transform: uppercase;
    margin-top: 0px;
    line-height: 100%;
}

.bannerIcons {
    margin-top: 10px;
}

.bannerIcons a {
    font-size: 23px;
    margin-top: 30px;
    color: white;
    margin-left: 30px;
    display: inline-block;
    padding: 15px;
    border-radius: 30%;
    height: 30px;
}

.bannerIcons a:first-child {
    color: white;
    margin-left: 0px;
}

.bannerIcons a:hover {
    background: gold;
    font-size: 25px;
    transition: all 0.3s ease;
}