body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* Login Page */
.login-container {
    width: 300px;
    margin: 120px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

/* Dashboard */
.navbar {
    background: #007bff;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 10px;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

td, th {
    padding: 10px;
    text-align: center;
}

.delete-btn {
    background: red;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
