.menu a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

table {
    background: white;
    width: 80%;
    margin-top: 10px;
}

th {
    background: #333;
    color: white;
}
.menu a {
    margin-right: 12px;
    font-weight: bold;
}

ul li {
    font-size: 16px;
}
